@import url(https://fonts.googleapis.com/css?family=Montserrat);
@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

 p { display: flex; color: black; border-radius: 25px; font-family: 'Crimson Text', serif, sans-serif; font-size: clamp(26px,2.5vh,3vh);  max-width: 1000px ; opacity: 0.9 ;  background-color: #F0ECE8; padding: 25px; margin: auto; } 

body{
  background:#F0ECE8;
  background-image: url(background.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Unica One';
}

svg {
    display: block;
    font: 10.5em 'Unica One';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 75px;
  gap: clamp(1vh, 1.5vh, 3vh); /* Gap between grid items */
  max-width: 1000px; /* Limit the maximum width of the grid */
  margin: auto; /* Center the grid horizontally */
  padding: 25px;
  background-color: #5A4D38;
  border-radius: 15px;
  opacity: 0.85;
}

.grid-shop {
  display: flex;
  max-width: 200px;
  background-color: #F0ECE8;
  /* padding: 5%; */
  max-height: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: clamp(2.5vw, 3vw, 36px);
}

/* Style the grid items */

.grid-item {
  display: flex;
  max-width: 200px;
  background-color: #F0ECE8;
  /* padding: 5%; */
  max-height: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: clamp(2.5vw, 3vw, 36px);
}

.titleRow {
  display: flex;
  max-width: 200px;
  background-color: #F0ECE8;
  /* padding: 5%; */
  max-height: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
} 

.grid-title {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  max-width: 200px;
  background-color: #F0ECE8;
  max-height: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 3vh;
} 

.grid-title::before {
  content: attr(title); /* Display the title attribute text */
  position: absolute;
  vertical-align: middle;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  display: none; /* Initially hidden */
  pointer-events: none; /* Ensure the pseudo-element doesn't interfere with hover events */
}

.grid-title:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease; }
  
.grid-title:hover::before {
    display: block; /* Show the title attribute on hover */
  }


/* Add some hover effect to the grid items */
.grid-item:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

@media (max-width: 600px) {
  .grid_container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* gap: 0.25vh; Adjust gap to be smaller */
    padding: 0.25vh; /* Reduce padding */
    max-width: 100%; /* Make it 100% of the viewport width */
  }

  .grid-item {
    display: flex;
    /* max-width: 100px; */
    background-color: #F0ECE8;
    /* padding: 5%; */
    /* max-height: 50px; */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    align-items: center;
    /* font-size: 16px; */
  }

  .grid-title {
    display: flex;
    /* max-width: 75px; */
    max-height: 50px;
    background-color: #F0ECE8;
    padding: 5%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16
    
    
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none; /* Hidden by default */
  position: fixed;
  width: 400px;
  height: 400px;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Modal content */
.modal-content {
  background-color: #f4f4f4;
  margin: 15% auto;
  padding: 5%;
  border: 1px solid #888;
  width: 400px;
  height: 400px;
}

/* Close button */
.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}


.animate-charcter
{
   /* text-transform: uppercase; */
  background-image: linear-gradient(
    -225deg,
    #fff655 0%,
    #ff5858 29%,
    #fe6dac 67%,
    #89a841 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 250% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  margin: auto;
  text-align: center;
  font-size: 13vw;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

html, body{
  height: 100%;
  font-weight: 800;
}


.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #ff3a3a;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #e13434;
  animation-delay: -1.5s;
}

.text-copy:nth-child(3){
  stroke: #a63434;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #6c3333;
  animation-delay: -3.5s;
}

.text-copy:nth-child(5){
  stroke: #4ed3fb;
  animation-delay: -10s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}

.post-header { margin-bottom: 30px; position:static; }
